<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="panel panel-default">
        <div class="panel-body">
          <%= link_to t('back'), edit_post_path(@version.post) %>
          <h4 class="text-center"><%= t(:edit_post) %> #<%= @version.post.id %> - <%= I18n.locale_name(@version.lang) %> </h4>
        </div>
        <div class="panel-body">
          <%= form_for @version do |f| %>
          <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title, class:"form-control"%>
          </div>
          <div class="form-group">
            <%= f.label :content %>
            <%= f.text_area :content, class: 'form-control', rows: '40', 'data-provide' => "markdown" %>
          </div>
          <div class="form-group text-right">
            <%= f.submit t(:confirm), class: 'btn btn-primary' %>
          </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
