<!DOCTYPE html>
<html>
<head>
  <title>Belore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- navbar -->
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav navbar-right">
          <% I18n.available_locales.each do |lang| %>
          <%= i18n_li_link lang %>
          <% end %>
        </ul>
        <% if user_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
          <%= li_link t(:posts), posts_path %>
        </ul>
        <% end %>
      </div>
    </div>
  </div>


<%= yield %>

</body>
</html>
